@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caramel&display=swap");

.text {
  font-family: "Caramel", cursive;
  font-size: 2em;
}

.title {
  font-family: "Forum", cursive;
  font-size: 4em;
  text-shadow: 0 0 5px #0b0b0b;
}
